{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% block header %}
            {% include "@TestPalAdmin/Layout/header.html.twig" %}
        {% endblock %}

        <div class="row">
            {% block sidebar %}
                {% include '@TestPalAdmin/Layout/sidebar.html.twig' %}
            {% endblock %}

            <div class="col-sm-9 col-md-10 pull-left">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/testpaladmin/css/c3.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/testpaladmin/css/application.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/testpaladmin/js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/testpaladmin/js/c3.min.js') }}"></script>
{% endblock %}