{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/testpalclient/css/application.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/testpalclient/css/radiobuttons.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/testpalclient/js/date-format.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/testpalclient/js/jquery.countdown.min.js') }}"></script>
{% endblock %}