{% extends '@TestPalClient/Layout/test-layout.html.twig' %}

{% block title %}{{ test.name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div id="main-content" class="col-sm-9">
        <h1>{{ test.name }}</h1>

        <p>Welcome to this exam for the {{ test.name }} position. Here are a couple of things you should know before we
            get
            started.</p>

        <ul>
            <li>The exam lasts <strong>60</strong> minutes. A timer will be displayed on the right-hand side of the
                screen
                in order to display the time still left in the exam.
            </li>
            <li>We do not give points for leaving early so make sure you use the entire time at your disposal.</li>
            <li>This exam contains <strong>60</strong> questions. The questions will cover a variety of subjects.</li>
        </ul>

        <div class="questions">
            <form method="post" action="#">
                {% set questionNumber = 1 %}
                {% for question in test.questions %}
                    <div class="question">
                        <h2 class="question-title">Question {{ questionNumber }}: {{ question.category }}</h2>

                        <p>{{ question.content }}</p>

                        <div class="answers">
                            {% for answer in question.answers %}
                                <div class="answer-entry">
                                    <input type="radio" id="answer_{{ answer.id }}" class="answer-radio css-checkbox"
                                           name="question[{{ question.id }}]"
                                           value="{{ answer.assignedIdentifier }}"/> <label
                                            class="answer-label css-label"
                                            for="answer_{{ answer.id }}">{{ answer.content }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        {% set questionNumber = questionNumber + 1 %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>

    <div id="sidebar" class="col-sm-3">
        <div class="sidebar-content">
            <h3>Time Remaining</h3>

            <p class="countdown-timer"></p>

            <h3>Jump to Question</h3>

            <div class="question-navigator">
                {% set questionNumber = 1 %}
                {% for question in test.questions %}
                    <a href="#" class="btn btn-warning question-navigator-link">Question {{ questionNumber }}</a>

                    {% set questionNumber = questionNumber + 1 %}
                {% endfor %}
            </div>

            <h3>Test Operations</h3>

            <a class="btn btn-lg btn-primary col-lg-11" href="#">Submit Test</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        Date.prototype.addHours = function(h) {
            this.setTime(this.getTime() + (h*60*60*1000));
            return this;
        }

        $(document).ready(function () {
            var currentDate = new Date();
            currentDate.addHours(1);

            var currentDateString = currentDate.format('yyyy/mm/dd HH:MM:ss')

            $('.countdown-timer').countdown(currentDateString, function (event) {
                $(this).text(event.strftime('%H hours %M minutes %S seconds'))
            });
        });
    </script>
{% endblock %}