{% extends '@TestPalClient/Layout/test-layout.html.twig' %}

{% block title %}{{ examination.test.name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div id="main-content" class="col-sm-9">
        <h1>{{ examination.test.name }}</h1>

        <div class="questions">
            <form method="post" action="#">
                {% set questionNumber = 1 %}
                {% for question in examination.test.questions %}
                    <div class="question">
                        <h2 id="question_link_{{ question.id }}" class="question-title">Question {{ questionNumber }}: {{ question.category }}</h2>

                        <p>{{ question.content }}</p>

                        <div class="answers">
                            {% set answerNumber = 1 %}
                            {% for answer in question.answers %}
                                <div class="answer-entry">
                                    <input type="radio" id="answer_{{ answer.id }}" class="answer-radio css-checkbox"
                                           name="question_{{ question.id }}"
                                           value="{{ answer.id }}"/> <label
                                            class="answer-label css-label"
                                            for="answer_{{ answer.id }}">{{ answer.content }}</label>
                                </div>

                                {% set answerNumber = answerNumber + 1 %}
                            {% endfor %}
                        </div>

                        {% set questionNumber = questionNumber + 1 %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>

    <div id="sidebar" class="col-sm-3">
        <div class="sidebar-content">
            <h3>Time Remaining</h3>

            <p class="countdown-timer"></p>

            <h3>Jump to Question</h3>

            <div class="question-navigator">
                {% set questionNumber = 1 %}
                {% for question in examination.test.questions %}
                    <a href="#question_link_{{ question.id }}" id="question_{{ question.id }}"
                       class="btn btn-warning question-navigator-link">Que {{ questionNumber }}</a>

                    {% set questionNumber = questionNumber + 1 %}
                {% endfor %}
            </div>

            <h3>Test Operations</h3>

            <div class="progress">
                <div class="progress-bar" id="question-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="4"
                     style="width: 100%;">No questions answered so far</div>
            </div>

            <a id="submit-test-element" class="btn btn-lg btn-danger col-lg-12" href="#">Submit Test</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var questionsNumber;
        var submitTestElement;

        Date.prototype.addHours = function (h) {
            this.setTime(this.getTime() + (h * 60 * 60 * 1000));
            return this;
        }

        function setUpCountDown() {
            $('.countdown-timer').countdown('{{ examination.endTime | date('Y/m/d H:i:s') }}', function (event) {
                $(this).text(event.strftime('%H hours %M minutes %S seconds'))
            });
        }

        function incrementProgressBar() {
            var progressBarElement = $('#question-progress-bar');

            var previousValue = parseInt(progressBarElement.attr('aria-valuenow'));
            var newValue = previousValue + 1;
            var percentageComplete = parseInt(newValue / questionsNumber * 100);

            progressBarElement.attr('aria-valuenow', newValue);
            progressBarElement.text(newValue + '/' + questionsNumber + ' Questions Answered');
            progressBarElement.css('width', percentageComplete + '%');

            if (newValue == questionsNumber) {
                progressBarElement.addClass('progress-bar-success');
                submitTestElement.removeClass('btn-danger').addClass('btn-success');
            }
        }

        $(document).ready(function () {
            setUpCountDown();
            questionsNumber = {{ examination.test.questions | length }};
            submitTestElement = $('#submit-test-element');

            $('input[type="radio"]').change(function () {
                var questionId = $(this).attr('name');
                var questionConfirmElement = $('#' + questionId);

                var hasNotBeenAnsweredBefore = questionConfirmElement.hasClass('btn-warning');

                if (hasNotBeenAnsweredBefore) {
                    incrementProgressBar();
                }

                questionConfirmElement.removeClass('btn-warning').addClass('btn-success');
            });
        });
    </script>
{% endblock %}