{% extends '@TestPalClient/Layout/test-layout.html.twig' %}

{% block title %}{{ test.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ test.name }}</h1>

    <p>Welcome to this exam for the {{ test.name }} position. Here are a couple of things you should know before we get
        started.</p>

    <ul>
        <li>The exam lasts <strong>60</strong> minutes. A timer will be displayed on the right-hand side of the screen
            in order to display the time still left in the exam.
        </li>
        <li>We do not give points for leaving early so make sure you use the entire time at your disposal.</li>
        <li>This exam contains <strong>60</strong> questions. The question will cover a variety of subjects.</li>
    </ul>

    <form method="post" action="#">
        {% set questionNumber = 1 %}
        {% for question in test.questions %}
            <h2>Question {{ questionNumber }}: {{ question.category }}</h2>

            <p>{{ question.content }}</p>

            {% for answer in question.answers %}
                <input type="radio" name="question[{{ question.id }}]" value="{{ answer.assignedIdentifier }}" /> {{ answer.content }} <br>
            {% endfor %}

            {% set questionNumber = questionNumber + 1 %}
        {% endfor %}
    </form>
{% endblock %}